body {
    position: absolute;
    font-family: 'Roboto';
    font-weight: 300;
    display: flex;
    margin: 0;
    width: 100vw;
}

.toolbar {
    position: fixed;
    z-index: 100;
    top: 0px;
    background-color: #FFFFFF;
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

    .toolbar-logo {
        display: flex;
        flex-direction: row;
        padding: .4em .5em .5em .5em;

        img {
            height: 3em;
            margin-right: .5em;
        }

        .toolbar-title {
            display: flex;
            flex-direction: column;

            p {
                margin: 0;
            }

            .site-title {
                font-size: 1.5em;
                font-family: 'Helvetica';
                font-weight: 800;
            }

            .site-subtitle {
                font-size: 1.1em;
            }
        }
    }

    .toolbar-menu {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: .4em;

        .toolbar-menu-item {
            margin-left: .4em;
            margin-right: .4em;
            font-size: 1.1em;
            text-decoration: none;
            color: #000;
        }
    }
}

.page {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1440px;
}
    .tagline {
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 35.5em;
        height: calc(50vh - 4em);
        padding-bottom: 4em;

        .tagline-image {
            display: flex;
            flex-shrink: unset;
            width: 50%;
            overflow: visible;

            img {
                position: absolute;
                left: 0;
                width: 50vw;
                object-fit: cover;
                height: 35em;
            }
        }

        .tagline-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;

            p.short {
                font-size: 1.2em;
                padding-left: 1.8em;
                padding-right: 1.8em;
                line-height: 1.5;
                font-weight: 400;
                margin-bottom: 0;
            }

            p.long {
                padding-left: 2.2em;
                padding-right: 2.2em;
                padding-bottom: 1.1em;
                line-height: 1.5;
            }
        }
    }

    .section-title {
        font-size: 1.5em;
        font-weight: 400;
        margin: auto;
        margin-bottom: 2.4em;
        width: 100%;
        text-align: left;
        padding-left: 2em;
    }

    .research {
        width: 100%;
        display: flex;
        flex-direction: column;

        .research-section {
            width: 100%;
            height: 35.5em;
            display: flex;
            flex-direction: row;
            margin-bottom: 2.2em;
            
            .research-image {
                width: 50%;
                height: 100%;
                background-color: #efefef;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .research-content {
                width: 50%;
                padding-left: 2.5em;
                padding-right: 2.5em;
                padding-bottom: 1.1em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .research-title {
                    font-size: 1.2em;
                    font-weight: 400;
                    margin-bottom: 1em;
                    width: 100%;
                }

                .research-description {
                    line-height: 1.5;
                    width: 100%;
                }
            }
        }
    }

    .members {
        width: 100%;
        margin: auto;
        margin-bottom: 4em;
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 2em;
        row-gap: 2.2em;
        justify-content: center;

        .member-card {
            width: max-content;
            min-width: 35em;
            height: 18em;
            background-color: #efefef;
            border-radius: 1em;
            display: flex;
            flex-direction: row;
            align-items: center;

            .member-image {
                display: flex;
                margin-left: 2em;
                width: 9em;
                height: 9em;
                border-radius: 100%;
                background-color: #FFF;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 100%;
                }
            }

            .member-content {
                padding: 0em 2em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 9em;

                .member-name {
                    font-size: 1.1em;
                    font-weight: 400;
                    text-align: left;
                    margin-top: 0.18em;
                    margin-bottom: 0;
                    margin-right: 1.8em;
                }

                .member-title {
                    font-size: 1.1em;
                    text-align: left;
                    margin-top: .2em;
                    color: #8a8a8a;
                }

                .member-links {
                    display: flex;
                    flex-direction: row;
                    margin-top: auto;
                    margin-bottom: 0.2em;

                    img {
                        height: 2em;
                        width: 2em;
                        margin-left: 0.2em;
                        margin-right: 0.2em;
                    }
                }
            }
        }
    }

    .sponsors {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: min-content;
        margin: 1em 0em;

        .sponsor {
            margin: auto;
            width: 6em;
            height: 6em;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                margin: 0em 2em;
            }
        }
    }

    .publications {
        padding: 0em 3em;
    }

@media(max-width: 120em) {
    .members {
        grid-template-columns: auto auto;
    }
}

@media(max-width: 80em) {
    .members {
        grid-template-columns: auto;
    }
}

@media (max-width: 1440px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 850px) {
    body {
        font-size: 28px;
    }

    .page {
        min-width: unset;
        width: 100%;
    }

    .toolbar {
        .toolbar-menu {
            display: none;
        }
    }

    .tagline {
        height: max-content;
        padding-bottom: 1em;
        flex-direction: column;

        .tagline-image {
            height: 15em;
            width: 100%;

            img {
                position: relative;
                width: 100%;
                height: 100%;
            }
        }

        .tagline-text {
            width: 100%;
        }
    }

    .research {
        .research-content {
            background-color: #FFFFFFa7;
            padding: 0;

            .research-section {
                position: relative;
                height: min-content;

                .research-image {
                    position: relative;
                    width: 100%;
                    height: 30em;
                }

                .research-content {
                    position: absolute;
                    padding: 0 2em;
                    height: 30em;
                    width: calc(100% - 4em);
                    justify-content: center;
                }
            }

        }
    }

    .members{
        grid-template-columns: auto;
        align-items: center;
        font-size: 1.5em;

        .member-card {
            min-width: 10em;
            height: min-content;
            background-color: #efefef;
            border-radius: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;

            .member-image {
                display: flex;
                margin: 1em 2em;
                border-radius: 100%;
                background-color: #FFF;
                width: 9em;
                height: 9em;
            }

            .member-content {
                display: flex;
                height: 6em;
                flex-direction: column;
                justify-content: center;

                .member-name {
                    font-weight: 400;
                    text-align: center;
                    margin: 0;
                }

                .member-title {
                    text-align: center;
                    margin-top: 4px;
                    color: #8a8a8a;
                }

                .member-links {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    margin-top: 0.5em;
                    margin-bottom: 1em;
                    justify-content: center;
                    align-items: center;

                    img {
                        height: 1.5em;
                        width: 1.5em;
                        margin-left: 0.25em;
                        margin-right: 0.25em;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}